In [1]:
#Libraries
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

In [2]:
cd Input

/Users/nicostan/Downloads/Ironhack/labs/project-II/Input

In [3]:
#creating the DFS
fertility = pd.read_csv ('Fertility.csv', encoding='latin')
gdp = pd.read_csv ('GDP per capita.csv', encoding='latin')
life = pd.read_csv ('Life expectancy.csv', encoding='latin')
meat = pd.read_csv ('Meat consumption.csv', encoding='latin')
age = pd.read_csv ('Median age.csv', encoding='latin')
growth = pd.read_csv ('Population growth.csv', encoding='latin')
sex = pd.read_csv ('Sex-ratio.csv', encoding='latin')
suicide = pd.read_csv ('Suicide rate.csv', encoding='latin')
urbanization = pd.read_csv ('Urbanization rate.csv', encoding='latin')

In [4]:
cd ..

/Users/nicostan/Downloads/Ironhack/labs/project-II

In [5]:
#Checking for missing countries
print(f"Fertility has {fertility.shape[0]} rows")
print(f"gdp has {gdp.shape[0]} rows")
print(f"life has {life.shape[0]} rows")
print(f"meat has {meat.shape[0]} rows")
print(f"age has {age.shape[0]} rows")
print(f"growth has {growth.shape[0]} rows")
print(f"sex has {sex.shape[0]} rows")
print(f"suicide has {suicide.shape[0]} rows")
print(f"urbanization has {urbanization.shape[0]} rows")

Fertility has 201 rows
gdp has 191 rows
life has 185 rows
meat has 187 rows
age has 223 rows
growth has 207 rows
sex has 226 rows
suicide has 182 rows
urbanization has 218 rows

In [6]:
#Dropping country columns for future merge, we don't want to drop sex because it has the most countries(rows)
fertility.drop(columns="Country", inplace=True)
gdp.drop(columns="Country", inplace=True)
life.drop(columns="Country", inplace=True)
meat.drop(columns="Country", inplace=True)
age.drop(columns="Country", inplace=True)
growth.drop(columns="Country", inplace=True)
suicide.drop(columns="Country", inplace=True)
urbanization.drop(columns="Country", inplace=True)

In [7]:
#Quick fix for meat, sex and age columns, also for solving the joining issue ahead
fertility = fertility.astype({"ISO-code": str}, errors='raise') 
gdp = gdp.astype({"ISO-code": str}, errors='raise') 
life = life.astype({"ISO-code": str}, errors='raise')
meat = meat.astype({"ISO-code": str}, errors='raise') 
age = age.astype({"ISO-code": str}, errors='raise') 
growth = growth.astype({"ISO-code": str}, errors='raise')
sex = sex.astype({"ISO-code": str}, errors='raise') 
suicide = suicide.astype({"ISO-code": str}, errors='raise') 
urbanization = urbanization.astype({"ISO-code": str}, errors='raise')

fertility['ISO-code']=fertility['ISO-code'].apply(lambda x: x.strip())
gdp['ISO-code']=gdp['ISO-code'].apply(lambda x: x.strip())
life['ISO-code']=life['ISO-code'].apply(lambda x: x.strip())
growth['ISO-code']=growth['ISO-code'].apply(lambda x:x.strip())
suicide['ISO-code']=suicide['ISO-code'].apply(lambda x:x.strip())
urbanization['ISO-code']=urbanization['ISO-code'].apply(lambda x:x.strip())
meat['ISO-code']=meat['ISO-code'].apply(lambda x: x.strip())
sex['ISO-code']=sex['ISO-code'].apply(lambda x:x.strip())
age['ISO-code']=age['ISO-code'].apply(lambda x:x.strip())

In [8]:
#Only unique values
fertility = fertility.drop_duplicates(subset='ISO-code')
gdp = gdp.drop_duplicates(subset='ISO-code')
life = life.drop_duplicates(subset='ISO-code')
growth = growth.drop_duplicates(subset='ISO-code')
suicide = suicide.drop_duplicates(subset='ISO-code')
urbanization = urbanization.drop_duplicates(subset='ISO-code')
meat = meat.drop_duplicates(subset='ISO-code')
sex = sex.drop_duplicates(subset='ISO-code')
age = age.drop_duplicates(subset='ISO-code')

In [11]:
#Add missing countries for final analysis
sex = sex.append({'Country':'Palestine', 'ISO-code':'PSE'}, ignore_index=True)
sex = sex.append({'Country':'Martinique', 'ISO-code':'MTQ'}, ignore_index=True)
sex = sex.append({'Country':'Guadeloupe', 'ISO-code':'GLP'}, ignore_index=True)
sex = sex.append({'Country':'French Guiana', 'ISO-code':'GUF'}, ignore_index=True)
sex = sex.append({'Country':'Niue', 'ISO-code':'NIU'}, ignore_index=True)
sex = sex.append({'Country':'Réunion', 'ISO-code':'REU'}, ignore_index=True)
sex = sex.append({'Country':'Guinea-Bissau', 'ISO-code':'GBS'}, ignore_index=True)
sex = sex.append({'Country':'Mayotte', 'ISO-code':'MAY'}, ignore_index=True)

/var/folders/5v/dc6514ld10d33dy0zgf23r6m0000gn/T/ipykernel_62273/1970576627.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sex = sex.append({'Country':'Palestine', 'ISO-code':'PSE'}, ignore_index=True)
/var/folders/5v/dc6514ld10d33dy0zgf23r6m0000gn/T/ipykernel_62273/1970576627.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sex = sex.append({'Country':'Martinique', 'ISO-code':'MTQ'}, ignore_index=True)
/var/folders/5v/dc6514ld10d33dy0zgf23r6m0000gn/T/ipykernel_62273/1970576627.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sex = sex.append({'Country':'Guadeloupe', 'ISO-code':'GLP'}, ignore_index=True)
/var/folders/5v/dc6514ld10d33dy0zgf23r6m0000gn/T/ipykernel_62273/1970576627.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sex = sex.append({'Country':'French Guiana', 'ISO-code':'GUF'}, ignore_index=True)
/var/folders/5v/dc6514ld10d33dy0zgf23r6m0000gn/T/ipykernel_62273/1970576627.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sex = sex.append({'Country':'Niue', 'ISO-code':'NIU'}, ignore_index=True)
/var/folders/5v/dc6514ld10d33dy0zgf23r6m0000gn/T/ipykernel_62273/1970576627.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sex = sex.append({'Country':'Réunion', 'ISO-code':'REU'}, ignore_index=True)
/var/folders/5v/dc6514ld10d33dy0zgf23r6m0000gn/T/ipykernel_62273/1970576627.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sex = sex.append({'Country':'Guinea-Bissau', 'ISO-code':'GBS'}, ignore_index=True)
/var/folders/5v/dc6514ld10d33dy0zgf23r6m0000gn/T/ipykernel_62273/1970576627.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sex = sex.append({'Country':'Mayotte', 'ISO-code':'MAY'}, ignore_index=True)

In [12]:
df = sex.merge(fertility, on=['ISO-code'], how='left')
df = df.merge(gdp, on=['ISO-code'], how='left')
df = df.merge(life, on=['ISO-code'], how='left')
df = df.merge(meat, on=['ISO-code'], how='left')
df = df.merge(age, on=['ISO-code'], how='left')
df = df.merge(growth, on=['ISO-code'], how='left')
df = df.merge(suicide, on=['ISO-code'], how='left')
df = df.merge(urbanization, on=['ISO-code'], how='left')
df.shape[0]

240

In [13]:
df.sample()

,Country,Sex-ratio,ISO-code,Fertility,GDP per capita,Life expectancy,Meat consumption,Median age,Population growth,Suicide rate,Urbanization rate
20,Belize,1.0,BLZ,2.3,8791.0,74.5,74.7,22.7,2.43,5.9,46.0

In [14]:
df.isna().sum().sum()

344

In [15]:
#Scraping migration data from wikipedia
url = "https://en.wikipedia.org/wiki/List_of_countries_by_net_migration_rate"
res = requests.get(url)
html=res.content
soup = BeautifulSoup(html, "html.parser")

In [16]:
tables = soup.find_all("table")[1] #The second one

In [17]:
df2 = pd.read_html(tables.prettify())[0]
df2.rename(columns = {'Annual net migration per 1000 inhabitants  2010–2015':'Net Migration'}, inplace = True)
df2.drop(columns='Annual net migration per 1000 inhabitants  2015–2020 (forecast)', inplace=True)
list(df2.keys())

['Country', 'Net Migration']

In [18]:
df['Country']=df['Country'].apply(lambda x: x.strip())
df2['Country']=df2['Country'].apply(lambda x: x.strip())

In [19]:
df2['Country'][13]='Curacao'
df2['Country'][28]='Jersey'
df2 = df2.append({'Country':'Guernsey', 'Net Migration':df2['Net Migration'][28]}, ignore_index=True)
df2['Country'][31]='United Kingdom'
df2['Country'][37]='The Bahamas'
df2['Country'][73]='Democratic Republic of the Congo'
df2['Country'][119]='The Gambia'
df2['Country'][138]='Republic of the Congo'
df2['Country'][179]='Virgin Islands'
df2['Country'][180]='Sao Tome and Principe'
df2['Country'][189]='Samoa'

/var/folders/5v/dc6514ld10d33dy0zgf23r6m0000gn/T/ipykernel_62273/296430082.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'Country':'Guernsey', 'Net Migration':df2['Net Migration'][28]}, ignore_index=True)

In [20]:
df = df.merge(df2, on=['Country'], how='left')
df.shape[0]

240

In [21]:
df.sample()

,Country,Sex-ratio,ISO-code,Fertility,GDP per capita,Life expectancy,Meat consumption,Median age,Population growth,Suicide rate,Urbanization rate,Net Migration
172,Samoa,1.04,WSM,3.9,6493.0,73.2,82.6,24.4,0.78,5.4,NaN,−12.8

In [22]:
df.drop(columns='ISO-code', inplace=True)

In [23]:
df3 = pd.read_csv('Input/csvData.csv')
df3.rename(columns = {'country':'Country', 'continent':'Continent'}, inplace = True)
df3.sample()

         Country Continent
140  Netherlands    Europe

In [24]:
df3["Country"][160]='The Bahamas'
df3 = df3.append({'Country':'Democratic Republic of the Congo', 'Continent':'Africa'}, ignore_index=True)
df3["Country"][19]='The Gambia'
df3["Country"][100]='East Timor'

/var/folders/5v/dc6514ld10d33dy0zgf23r6m0000gn/T/ipykernel_62273/1015072771.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df3.append({'Country':'Democratic Republic of the Congo', 'Continent':'Africa'}, ignore_index=True)

In [25]:
df3.to_csv("./Input/continents.csv")

In [26]:
df = df.merge(df3, on=['Country'], how='left')
df.sample()

,Country,Sex-ratio,Fertility,GDP per capita,Life expectancy,Meat consumption,Median age,Population growth,Suicide rate,Urbanization rate,Net Migration,Continent
81,Guernsey,0.99,NaN,NaN,NaN,NaN,43.8,NaN,NaN,31.0,4.4,Europe

In [27]:
df['Continent'].isna().sum()
#Countries without continent: Small Islands

5

In [28]:
first = pd.read_csv('Input/first.csv')
third = pd.read_csv('Input/third.csv')

In [29]:
first.drop(columns=['hdiRank', 'pop2022'], inplace=True)
third.drop(columns=['pop2022'], inplace=True)

In [30]:
first.rename(columns = {'country':'Country','hdi2019':'HDI' }, inplace = True)
third.rename(columns = {'country':'Country', 'humanDevelopmentIndex':'HDI'}, inplace = True)

In [31]:
first['Class']='Developped'
third['Class']='In development'

In [32]:
first["Country"][55]='The Bahamas'
third['Country'][87]='American Samoa'
third['Country'][15]='Democratic Republic of the Congo'
third['Country'][17]='The Gambia'
third['Country'][59]='East Timor'

/var/folders/5v/dc6514ld10d33dy0zgf23r6m0000gn/T/ipykernel_62273/1718283365.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first["Country"][55]='The Bahamas'
/var/folders/5v/dc6514ld10d33dy0zgf23r6m0000gn/T/ipykernel_62273/1718283365.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  third['Country'][87]='American Samoa'
/var/folders/5v/dc6514ld10d33dy0zgf23r6m0000gn/T/ipykernel_62273/1718283365.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  third['Country'][15]='Democratic Republic of the Congo'
/var/folders/5v/dc6514ld10d33dy0zgf23r6m0000gn/T/ipykernel_62273/1718283365.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  third['Country'][17]='The Gambia'
/var/folders/5v/dc6514ld10d33dy0zgf23r6m0000gn/T/ipykernel_62273/1718283365.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  third['Country'][59]='East Timor'

In [33]:
first.sample()

   Country    HDI       Class
35  Latvia  0.866  Developped

In [34]:
third.sample()

    Country    HDI           Class
150  Brunei  0.853  In development

In [35]:
worlds=pd.concat([first, third], ignore_index=True)
worlds.drop_duplicates(subset='Country', keep='first', inplace=True, ignore_index=True)

In [36]:
#worlds.sort_values(by='Country', axis=0, ascending=True)

In [37]:
worlds.shape[0]

191

In [38]:
worlds.to_csv("./Input/worlds.csv")

In [39]:
df = df.merge(worlds, on=['Country'], how='left')

In [40]:
df.sample()

,Country,Sex-ratio,Fertility,GDP per capita,Life expectancy,Meat consumption,Median age,Population growth,Suicide rate,Urbanization rate,Net Migration,Continent,HDI,Class
141,Netherlands,0.98,1.6,60299.0,82.1,89.3,42.6,0.45,9.6,92.2,0.7,Europe,0.944,Developped

In [43]:
df['Class'].fillna(value='In development', inplace=True)

In [44]:
#df=df.set_index('Country')
df.dropna(thresh=8, inplace=True)
df.head()

,Country,Sex-ratio,Fertility,GDP per capita,Life expectancy,Meat consumption,Median age,Population growth,Suicide rate,Urbanization rate,Net Migration,Continent,HDI,Class
0,Afghanistan,1.03,4.5,2182.0,64.5,17.3,27.4,2.41,6.4,26.0,3.3,Asia,0.498,In development
1,Albania,0.98,1.6,14866.0,NaN,NaN,32.9,0.26,5.6,62.1,−9.4,Europe,0.785,In development
2,Algeria,1.03,3.0,16091.0,76.7,18.3,28.1,1.89,3.3,73.7,−0.8,Africa,0.754,In development
3,American Samoa,1.00,NaN,NaN,NaN,24.9,25.5,-0.26,NaN,87.2,NaN,Oceania,0.713,In development
4,Andorra,1.06,1.3,NaN,81.8,NaN,44.3,0.63,NaN,87.9,NaN,Europe,0.868,Developped

In [45]:
df.shape[0]

205

In [46]:
df.to_csv("./Output/df_clean.csv")

In [ ]:
df